---

---

<header class="py-8 px-6 mx-auto max-w-[80%] border-lime-600 border-t-4 bg-neutral-200">
  <div class="flex mb-3">
    <h2 class="font-bold grow text-2xl">
      File title
    </h2>
    <div class="mb-2">
      <!-- TODO: Navigation between thread should be here?? Evaluate htmx file -->
      September 10th 2023, 4:16 PM GMT+2
    </div>
  </div>
  <p class="mb-2">From: fake@mail.com</p>
  <p class="mb-2">To: fake2@mail.com</p>
  <ul class="flex gap-2">
    <li class="text-white bg-neutral-400 p-1">TagOne</li>
    <li class="text-white bg-neutral-400 p-1">TagTwo</li>
  </ul>
</header>